/* views*/
@import url(/public/css/views/colors.css);
/* Common */
* {
  box-sizing: border-box;
}

h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.mask {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  opacity: 0;
  transition: 0.2s all;
}
.mask.show {
  display: block;
  opacity: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  border-bottom: 2px solid #eee;
  background-color: #fff;
}
.header.is-scrolled {
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.header__logo {
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  color: #3742fa;
}
.header__toggler {
  display: inline-block;
  overflow: visible;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  z-index: 99999;
}
.header__toggler:hover, .header__toggler:focus {
  background: unset;
  outline: unset;
}
.header__toggler.is-active {
  /* * Arrow Right */
}
.header__toggler.is-active .header__toggler-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
.header__toggler.is-active .header__toggler-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.header__toggler-wrapper {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 24px;
}
.header__toggler-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.header__toggler-inner, .header__toggler-inner::before, .header__toggler-inner::after {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  background-color: #3742fa;
  border-radius: 4px;
}
.header__toggler-inner::before, .header__toggler-inner::after {
  display: block;
  content: "";
}
.header__toggler-inner::before {
  top: -10px;
}
.header__toggler-inner::after {
  bottom: -10px;
}

.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 548px;
  height: 100vh;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.2s;
  background: #fff;
}
.nav.show {
  opacity: 1;
  transform: translateX(0);
}
.nav__list-wrapper {
  padding-top: 135px;
  padding-left: 85px;
}
.nav__list-item {
  font-size: 26px;
  font-weight: 700;
}
.nav__list-item span {
  cursor: pointer;
}
.nav__list-item:not(first-child) {
  margin-top: 30px;
}
.nav__list-item.active {
  color: #3742fa;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}
.content-wrapper .container {
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 100px;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template: repeat(2, 400px)/repeat(2, 650px);
  grid-gap: 40px;
  margin: 158px 0 58px 0;
}
.content__column {
  cursor: pointer;
  height: 400px;
  padding: 20px 20px 28px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.content__column .column__img-wrapper {
  position: relative;
}
.content__column .column__img-wrapper .column__img {
  display: block;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.content__column .column__img-wrapper .column__img-colors {
  background: no-repeat center url(/src/assets/images/colors.png);
  background-size: cover;
}
.content__column .column__img-wrapper .column__img-hex-colors {
  background: no-repeat center url(/src/assets/images/hex-colors.png);
  background-size: cover;
}
.content__column .column__img-wrapper .column__img-quote {
  background: no-repeat center url(/src/assets/images/quote.png);
  background-size: cover;
}
.content__column .column__img-wrapper .column__img-carousel {
  background: no-repeat center url(/src/assets/images/carousel.png);
  background-size: cover;
}
.content__column .column__img-wrapper .column__img-counter {
  background: no-repeat center url(/src/assets/images/counter.png);
  background-size: cover;
}
.content__column .column__img-wrapper .column__img-digital-clock {
  background: no-repeat center url(/src/assets/images/digital-clock.png);
  background-size: cover;
}
.content__column .column__img-wrapper .column__img-message {
  background: no-repeat center url(/src/assets/images/message.png);
  background-size: cover;
}
.content__column .column__img-wrapper .column__mask {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  border-radius: 10px;
  background-color: rgba(55, 66, 250, 0.9);
  color: #fff;
}
.content__column .column__title-wrapper {
  padding-top: 24px;
  padding-left: 20px;
}
.content__column:hover .column__mask {
  display: flex;
}

/*# sourceMappingURL=index.css.map */
